[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = {{ .keyid }}
[color]
  ui = true
[alias]
  in = log ..@{upstream}
  out = log @{upstream}..
  st = status
  co = checkout
  ci = commit
  br = branch
  r = reset
  rh = reset --hard
  rh1 = reset --hard HEAD~1
  rh2 = reset --hard HEAD~2
  stage = add -p
  ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = log --pretty=format:'%Cred%h%C(yellow)%d%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%cn>%Creset' --decorate --numstat
  dlc = diff --cached HEAD^
  filelog = log -u
  fl = log -u
  serve = daemon --reuseaddr --base-path=. --export-all --verbose
  pos = push -o ci.skip
  pmr = push origin HEAD --force-with-lease -o merge_request.remove_source_branch -o merge_request.create
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = ~/bin/EDITOR
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = diff3
[delta]
  navigate = true
  features = side-by-side line-numbers decorations
  syntax-theme = base16-256
[diff]
  colorMoved = default
[push]
  default = simple
[help]
  autocorrect = 1
[commit]
  gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
{{- /* forges is an array of hashes with keys: type, user, url */ -}}
{{- range .forges }}
[{{ .type }}{{- if ne .url "" }} "{{.url}}" {{- end -}}]
  user = {{ .user }}
{{- end }}
[protocol]
    version = 2
[credential]
    helper = osxkeychain # should be per platform value
