gtk_color_scheme = "black:#272822\nwhite:#f9f8f5\ngreen:#a6e22e\nred:#f92672\nyellow:#f4bf75\nlightgrey:#f8f8f2\n"

style "default" {
  font_name = "Iosevka 10"
  bg[NORMAL]   = @black
  fg[NORMAL]   = @lightgrey
  text[NORMAL] = @lightgrey
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
}

style "active-window" = "default" {
  fg[NORMAL] = @green
}

style "notification-button" = "default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

widget "Taffybar*" style "default"
widget "Taffybar*WindowSwitcher*label" style "active-window"
widget "*NotificationCloseButton" style "notification-button"
